# orb.yml is "packed" from source, and not published directly from the repository.
orb.yml
.DS_Store

# Node artifacts
node_modules/
**/node_modules/

# Nuxt build output
.nuxt/
**/.nuxt/

# Build and test artifacts
dist
dist/
distros
distros/
y**/dist/
playwright-report/
**/playwright-report/
test-results/
**/test-results/
.output/
.cache/
**/.cache/
.turbo/
apps/game/.output
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
apps/docs/.turbo/
apps/game/.env
apps/docs/.output/
apps/game/.output/
apps/docs/.output/