{
  "mcpServers": {
    "MCP_DOCKER": {
      "command": "docker",
      "args": ["mcp", "gateway", "run"]
    },
    "AWS_Documentation": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-aws-documentation"
      ],
      "env": {}
    },
    "browsermcp": {
      "command": "npx",
      "args": ["-y", "@browsermcp/mcp@latest"]
    },
    "nuxt-mcp-toolkit": {
      "command": "npx",
      "args": ["-y", "mcp-remote", "https://mcp-toolkit.nuxt.dev/mcp"]
    }
  }
}
