[project]
name = "fastmcp"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "fastmcp[tasks]==3.0.0b1",
]

[tool.uv.sources]
fastmcp = { workspace = true }
